body {
	background-color:black;
	color:green;
	font-size:14px;
	font-family:courier;
	text-align:center;
	border:2px solid white;
}

a {
	color:green;
}

a:visited {
	color:green;
}

a:hover {
	color:white;
}
